@model AllEventsQueryModel
@inject IOrganizerService organizers
@using Microsoft.AspNetCore.Identity
@using MusicEvents.Services.Organizers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<form method="get">
    <div class="d-flex justify-content-center" >

        <div class="form-group col-md-3 p-2">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" style="box-shadow: 0px 4px 5px  rgba(0, 0, 0, 0.2);" placeholder="Search..." />
        </div>

        

        <div class="form-group col-md-3 p-2">
            <div class="form-group">
                <label asp-for="SortingType"></label>
                <select asp-for="SortingType" class="form-control" style="box-shadow: 0px 4px 5px  rgba(0, 0, 0, 0.2);">
                    <option value="0" selected>Newest</option>
                    <option value="1">Date</option>
                    <option value="2">Name</option>
                </select>
            </div>
        </div>

      

    </div>

     <div class="d-flex justify-content-center mb-2" >


                 <div class="form-group col-md-3 p-2">
            <div class="form-group">
                 <label asp-for="CountryId" class="form-label">Country</label>
                 <select asp-for="CountryId" id="CountryId" name="CountryId" class="form-control"  style="box-shadow: 0px 4px 5px  rgba(0, 0, 0, 0.2);">
                     <option value=0>All</option>
                @foreach (var country in @Model.Countries)
                {
                    <option value=@country.Id>@country.CountryName</option>
                    //asp-items="@(new SelectList(@Model.Cities, "Id", "CityName",@Model.CityId))"
                }

                    
                 </select>
            </div>
        </div>
        <div class="form-group col-md-3 p-2">
            <div class="form-group">
               <label asp-for="CityId" class="form-label">City</label>
               <select asp-for="CityId" id="CityId" name="CityId" class="form-control" style="box-shadow: 0px 4px 5px  rgba(0, 0, 0, 0.2);">
                <option value=0>All</option>
                @foreach (var city in @Model.Cities)
                {
                    <option value=@city.Id>@city.CityName</option>
                    //asp-items="@(new SelectList(@Model.Cities, "Id", "CityName",@Model.CityId))"
                }

                </select>
            </div>
        </div>  

         </div>

</form>

<div class="row d-flex justify-content-center">
@foreach (var ev in Model.Events)
{
<div class="card mb-3 col-7 " style="box-shadow: 0px 4px 5px  rgba(71, 71, 71, 0.2); padding-left: -10;padding-left: -12;padding-left: 1px;padding-right: 1px;" >
	 <div class="row g-0">
		<div class="col-md-6">		
			<img src=@ev.ImgURL class="card-img rounded-start" alt=@ev.Venue>
		</div>
		<div class="col-md-6" style="background-color:rgb(184, 184, 184,0.2) ">
			<div class="card-body justify-content-center" style="padding-left: 20px; padding-top: 18px; font-size: 18px;">
				<h5 class="card-title">@ev.EventName</h5>
				<h6 class="card-title">@ev.Venue</h6>
				<p class="card-text b">@ev.Description</p>
				<p class="card-text"><small class="text-muted"><i class="fa-solid fa-calendar-days"></i> @ev.Time.ToString("dd.MM.yyyy hh:mm") - <i class="fa-solid fa-location-dot"></i> @ev.CityName, @ev.CountryName</small></p>
				
					<a asp-controller="Events" asp-action="Details" asp-route-id="@ev.Id" class="btn purple" style=" margin-right: 4px;">Check event</a>
                     
                           <a asp-controller="Events" asp-action="Edit" asp-route-id="@ev.Id" class="btn purple" style=" margin-right: 4px;">Edit <i class="fa-solid fa-pen"></i></a>
					       <a asp-controller="Events" asp-action="Delete" asp-route-id="@ev.Id" class="btn btn-danger" style="box-shadow: 0px 4px 5px  rgba(0, 0, 0, 0.4)"><i class="fa-solid fa-trash-can"></i></a>
                     
			</div>
		</div>
	</div>
</div>
}
</div>


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalEvents / AllEventsQueryModel.EventsPerPage);
}

<div class="d-flex justify-content-center mb-5 mt-2">

    <div class="col-md-3 text-center p-2">
        <a class="btn purple text-black @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Events"
           asp-action="MyEvents"
           asp-route-currentPage="@previousPage"
           asp-route-countryId="@Model.CountryId"
           asp-route-cityId="@Model.CityId"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sortingType="@((int)Model.SortingType)"><i class="fa-solid fa-arrow-left"></i></a>
    </div>





   <div class="col-md-3 text-center p-2">
             <a class="btn purple text-black " href="/Events/Add">Add Event</a>
             </div>

   


    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Events.Any();
    }

    <div class="col-md-3 text-center p-2">
        <a class="btn purple  text-black  @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Events"
           asp-action="MyEvents"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-cityId="@Model.CityId"
           asp-route-countryId="@Model.CountryId"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sortingType="@((int)Model.SortingType)"><i class="fa-solid fa-arrow-right"></i></a>
    </div>
</div>


@if (!Model.Events.Any())
{
    <h2 class="text-center">No events found by the given criteria!</h2>
}

@section Scripts{
    
@*<script type="text/javascript">    
        
         $(document).ready(function () {           
           var items = "<option value='0'>Select</option>";
           $("#CityId").html(items);                               
        });
</script>*@

<script type="text/javascript"> 
        $(document).ready(function () {

          $("#CountryId").change(function () {
            
               var items = "<option value='0'>All</option>";
           $("#CityId").html(items);  

             var url= '@Url.Content("~/")'+ "Events/GetCities";
            
             var ddlsource = "#CountryId";

              $.getJSON(url, { CountryId: $(ddlsource).val() }, function (data) {

                
                $("#CityId").empty();
                items = "<option value='0'>All</option>";
                $.each(data, function (i, city) {

                    items += "<option value='" + city.value + "'>" + city.text + "</option>";
                });
                $('#CityId').html(items);
        }); 
          }); 
             });

</script> 
}