@model ArtistProfileModel
@using Microsoft.AspNetCore.Identity
@using MusicEvents.Services.Organizers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IOrganizerService organizers

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-top my-5 ">
          <div class="col-lg-5">
            <h1 class="font-weight-light m-0 mt-5">@Model.ArtistName</h1>
            <p class="text-muted mb-3"><small><i class="fa-solid fa-location-dot"></i> @Model.CountryName</small></p>
            <p>@(string.IsNullOrEmpty(Model.Biography)? "This artist has no Biography yet. Ask an organizer to add one.": @Model.Biography)</p>
         </div>
     <div class="col-lg-7">
         <img class="img-fluid rounded mb-4 mb-lg-0 float-right" src="@Model.ImageUrl" alt="Image" />
     </div>
  </div>

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-3 py-1 text-center">
        <div class="card-body"><p class="text-white m-0">@(Model.ArtistName)'s 3 most recent songs</p></div>
    </div>

    @if(Model.Songs.Count()==0)
    {
              <h5 class="text-center m-5">Currently there is no data for any songs from @Model.ArtistName</h5>  
    }
    else
    {
        <div class="row d-flex justify-content-center">
        @foreach (var song in Model.Songs)
        {
            <!-- Content Row-->
              <div class="card mb-2 mx-4 p-0" style="width: 320px; text-align:center;">
               <iframe class=" d-flex justify-content-center" height="210px" width="320px" src="@song.SongURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <span class="h5 px-3"> @song.SongName</span>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (organizers.IsOrganizer(User.GetId()))
                             {
                                 <a asp-controller="Songs" asp-action="Delete" asp-route-id="@song.Id" asp-route-artistid="@Model.Id" class="btn  btn-danger"><i class="fa-solid fa-trash-can"></i></a>  
                             }
                        }

                     
                </div>
              </div>

        }
        </div>
  
    }
   
</div>

    <div  class="d-flex justify-content-center m-0">
         @if (SignInManager.IsSignedIn(User))
         {
             @if (organizers.IsOrganizer(User.GetId()))
              {
                     <a asp-controller="Songs" asp-action="Add" asp-route-artistid="@Model.Id" class="btn  purple m-5 " style="margin-right: 2px;">Add a song</a>    
              }
         }

    </div>
